
.Sales{
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 700px;
    flex-wrap: wrap;
}
.Sales-container{
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    padding: 5px;
    gap: 100px;
    flex-wrap: nowrap;
    align-items: center;
}
.Sales-items{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding: 20px;
    background-color: var(--brand-color-dark);
    flex: 1 1 60%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.Sales-amount{
    background-color: var(--brand-color-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 40%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.SalesProducts{
    color: var(--brand-color-darker);
    font-size: x-large;
}
.CardPrice h1{
    font-size: 100px;
    text-align: center;
}
.CardPrice h2{
    text-align: center;
}
.Table-table{
    overflow: scroll !important;
    height: 300px;
    overflow-x: hidden !important;
}
.Sales-Title{
    text-align: center;
    font-size: 50px;
    margin: 0;
}
.Sales-item-card{
    overflow: scroll !important;
    overflow-x: hidden !important;
    max-height: 300px;
}

