.Layout_Container{
  height: 100vh;
}
.containerDiv{
  display: flex;
  flex-direction: row;
  background-color: var(--brand-dark);
}
.Container-BusinessRouter{
  padding: 2rem;
  margin: 10px;
  border-radius: .5rem;
  width: 100%;
  overflow: hidden;
  background-color: var(--brand-background);
}
.SideBar-container{
  display: flex;
  flex-direction: column;
}