body{
  margin: 0;
  background-color: var(--brand-fourth-color);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:root{

  --brand-font: 'Product Sans';
  --brand-hue : 212;

  --brand-fourth-color: hsl(0, 0%, 93%);
  --brand-third-color: hsl(214, 65%, 35%);
  --brand-second-color: hsl(211, 70%, 26%);  
  --brand-base-color: hsl(212, 75%, 16%);

}
#root{
  min-height: 100vh;
  width: 100%;
}