.modal-container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: rgba(219, 219, 219, 0.301);
}

.modal-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.modal-photo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 400px;
}
.photo{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.modal-details{
    flex-grow: 1;
    margin-top: 10px;
    margin-left: 10px;
}
.modal-details h1{
    font-size: larger;
    font-weight: 600;
}
.modal-details p{
    color: rgba(117, 117, 117, 0.712);
}
.modal{
    position: absolute;
    width: 600px;
    height: 300px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.modal-buttons{
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
}
.buttons{
    margin-top: 10px;
    gap: 10px;
    display: flex;
    width: 300px;
}
.modal-body{
    display: flex;
    flex-direction: column;
    width: 99%;
    height: 100%;
}
.increment{
    background-color: rgb(184, 184, 184);
    border-radius: 10px;
    height: 60px;
    width: 100%;
}