.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 99%;
    color: white;
    background-color: rgba(82, 82, 82, 0.651);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    user-select: none;
}
