.Search-Card{
    margin-top: 10px;
    width: 100%;
    max-height: 200px;
}
.Search-Card-items{
    cursor: pointer;
}
.Search-Card-items li{
    height: 30px;
    padding: 5px;
}
.Search-Card-items :hover{
    background-color: var(--brand-fourth-color);
    color: #535353;
    border-radius: 5px;
}
.Search-Card-items-focus{
    background-color: var(--brand-fourth-color);
    color: #535353;
    border-radius: 5px;
}